.footer-wrapper
    ul.links
        li.contact-item
            a.vk-link(href="https://vk.com/id473612876")
                img(src="../images/vk.svg")

        li.contact-item
            a.inst-link(href="https://www.instagram.com/run_out_of_life/")
                img(src="../images/instagram.svg")

        li.contact-item
            a.mail-link(href="mailto:antonvasyanovich1@gmail.com")
                img(src="../images/email.svg")