head 
    title= title 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="https://code.jquery.com/jquery-3.5.0.js")
    script(src="/scripts/script.js")
    script(src="/scripts/button_clicked.js")