.menu-wrapper
    .bottomMenu 
            h1.menu-name SellarDoor
    .dishes-wrapper
        .block(class='first') 
            img.dish(src='../images/dish1.jpg')
            .about Тыквенный пудинг, запеченный в сливочно-томатном соусе с невероятно нежным и тающим во рту сливочным сыром и травами, приправленный тертым трюфелем.
        .block(class='second')
            img.dish(src='../images/dish2.jpg')
            .about Нежнейший ростбиф прожарки "medium-rare" с яичницей, приготовленной на сливочном масле, украшенной только что сорванной зеленью специально для вас!
        .block(class='third')
            img.dish(src='../images/dish3.jpg')
            .about Элегантный авокадо гриль со свежим тунцом в соусе унаги, с соусом из сливочного сыра, сметаны, стружки тунца, кунжута и свежих трав.
        .block(class='fourth')
            img.dish(src='../images/dish4.jpg')
            .about Тыквенный крем-суп на курином бульоне с цыпленком и соусом Песто. 
        .block(class='fifth')
            img.dish(src='../images/dish5.jpg')
            .about Шашлык из баранины на косточке, выполненный по фирменному рецепту шеф-повара на углях с овощами, украшенный базиликом и томатным соусом.